osx_image: xcode10.2
language: swift
xcode_workspace: MultiProgressView.xcworkspace
xcode_scheme: MultiProgressView
xcode_destination: platform=iOS Simulator,OS=9.0,name=iPhone 6

#Codecov
script:
  - xcodebuild test -workspace MultiProgressView.xcworkspace -scheme MultiProgressView -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone X,OS=12.2' | xcpretty
after_success:
  - bash <(curl -s https://codecov.io/bash)
